*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}
/* Header Section Start */
header{
    width: 100%;
    height: 60px;
    color: #fff;
    background: #131e3a;
    display: flex;
    padding: 0px 125px;
    align-items: center;
    justify-content: space-between;
}
header ul li{
    margin-right: 15px;
    display: inline-block;
}
header ul li a{
    font-weight: 600;
}
header ul li a.active{
    color: #cd375d;
}
/* /Header Section End */
/* Banner Section Start */
.banner{
    width: 100%;
    height: 580px;
    color: #fff;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/a.png);
    background-size:100% 100%;
    padding: 0px 125px;
    position: relative;
}
.banner h1{
    position: absolute;
    top: 100px;
    font-size: 50px;
    font-weight: normal;
    }
.banner h2{
    font-size: 30px;
    position: absolute;
    top: 220px;
}
.banner form{
    width: 85%;
    height: auto;
    background: #5c327a;
    position: absolute;
    bottom: 20px;
    padding: 2px 8px;
    display: flex;
    }
    .banner form button{
        width: 90px;
        height: 30px;
        background: #43215c;
        border: none;
        color: #fff;
        font-weight: 400;
    }
    .banner form button.active{
        background: #fc2d4b;
    }
    .banner form label{
        display: none;
    }
    .banner form .searchForm{
        margin-top: 8px;
    }
    .banner form .searchForm input,
    .banner form .searchForm select{
        height: 35px;
        width: 200px;
    }
    .banner form .smt{
     height:70px;
     width: 70px;
     border-radius: 50%;
     margin-top: 20px;
     margin-left: 20px;
      }
      .banner form .info{
        margin-top: 10px;
          }
      .banner form .info select{
         height: 20px; 
        width: 85px; 
        background:gray;
        border: none;
        color: #fff;
        }
        /* /Banner Section End */
        /* Fun Section Start */
        .fun{
            width: 100%;
            height: 400px;
            padding: 50px 130px;
            background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/d.webp);
            background-size: 100% 100%;
        }
        .fun h2{
            color: #fff;
            text-align: center;
            margin-bottom: 40px;
        }
        .fun ul{
            display: flex;
            justify-content: space-between;
        }
        .fun ul li{
            width: 160px;
            height: 170px;
            color: #fff;
            list-style: none;
            text-align: center;
            margin-top: 10px;
            background: rgba(0,0,0,0.7);
            padding-top: 10px;
        }
        .fun ul .dist{
            font-size: 20px;
            font-weight: bolder;
        }
    /* /Fun Section End */
    /* Newsletter section Start */
        .newsletter{
            width: 100%;
             min-height:300px;
            background:linear-gradient(rgba(66, 8, 99, 0.6), rgba(91, 4, 99, 0.8)),url(../img/e.webp);
            padding: 50px 125px;
            background-size: cover;
            }
        .newsletter form label{
            display: none;
        }
        .newsletter .news{
          width: 60%;
          height: 170px;
          float: right;
        }
        .newsletter h2{
           text-align: center;
            color: #fff;
            margin: 20px;
            }
        .newsletter p{
            margin: 20px;
            color: #fff;
            font-size: 20px;
        }
         .newsletter  form input{ 
            margin: 20px;
            color: #fff;
            border:solid #fff 2px;
            background: none;
            width: 500px;
            height: 40px;
          }
            .newsletter form button{
               width: 100px;
                height: 40px;
            }
          /* /Newsletter section End */
          /* Destination Section Start */
          .destination{
            width: 100%;
            height: 750px;
            padding: 50px 125px;
            background: #20162f;
          }
          .destination h2{
            color: #fff;
            text-align: center;
            margin-bottom: 20px;
             }
          .destination ul{
            display: grid;
            grid-template-columns:repeat(4, 23%);
            grid-template-rows: 300px 300px;
            grid-gap: 30px;
           }
          .destination ul li{
            list-style: none;
            border-radius: 5px;
            border: 5px solid #fff;
            background: #fff;
          }
          .destination ul li img{
            height: 150px;
            width: 100%;
            margin-bottom: 20px;
          }
          .destination ul li h4,p{
            padding-left: 20px;
          }
          .destination ul li span{
            color: orange;
          }
          /* Destination Section End */
          /* Estimate Section Start */
          .estimate{
            width: 100%;
            height:auto;
            display: flex;
            justify-content: space-between;  
            background: #664CAD;
            }
          .estimate label{
            display: none;
          }
          .estimate h2{
            padding-top: 50px;
            padding-left: 125px;
          color: #fff;
          }
          .estimate h4{
            padding-left: 125px;
           color: #fff;
           /* border-bottom:1px solid #fff; */
          }
          .estimate form{
            padding-top: 20px;
            padding-left: 125px;
            padding-bottom: 50px;
            
          }
          .estimate select, input{
            width: 150px;
            height: 40px;
            text-align: center;
          }
          .estimate button{
            width: 150px;
            height: 40px;
            background: #FE9102;
            margin-left: 20px;
          }
          .estimate #tdate,#people,#email{
            margin-left: 20px;
          }
          .estimate img{
            height: 200px;
            width: 300px;
          }
          /* /Estimate Section End */
          /* Blog Section Start */
        .blog{
          width: 100%;
          height: auto;
          padding: 30px 125px;
        }
        .blog h2{
          margin-bottom: 10px;
          text-align: center;
        }
        .blog h2+p{
          text-align: center;
          padding: 0px 200px;
        }
        .blog-content div img{
          width: 160px;
          height: 170px;
         }
         .blog-content {
          display: flex;
           margin: 10px auto; 
         }
         .blog-content div{
          display: flex;
          padding: 10px;
         }
         .blog-content div div{
          display: inline-block;
         }
         .blog-content div #first{
          padding-bottom: 10px;
         }
         .blog-content div #second{
          padding-top: 10px;
         }
      /* /Blog Section End*/
      /* Footer Section Start */
      footer{
        width: 100%;
        height: auto;
        padding: 50px 125px;
        background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../img/e.webp); 
        }
       footer .topfooter, footer .bottomfooter{
        display: flex;
        justify-content: space-between;
       }
      footer h3{
        color: #918E97;
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 10px;
      }
      footer ul li{
        list-style: none;
      }
      footer ul li a{
        color: #918E97;
      }
      footer ul li a span{
        color: #fff;
        font-weight: bold;
      }
      footer .international div{
        display: flex;
        justify-content: space-between;
      }
      footer .international div .inter1{
        margin-right: 50px;
      }
      footer .international div img{
        width: 15px;
        height: 10px;
      }
      footer .bottomfooter{
        margin-top: 40px;
      }
      footer .bottomfooter .footmenu ul li{
        display: inline-block;
        padding-left: 20px;
        }
        footer .bottomfooter .footmenu ul li a,#web{
          color: #fff;
        }
        footer .bottomfooter .social ul li{
          display: inline-block;
          padding: 10px;
        }
        footer .bottomfooter .footmenu{
          margin-right: 120px;
        }
      /* /Footer Section End */